/* Typography */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 6.4rem;
}
h2 {
  font-size: 4rem;
}
h3{
  font-size: 2.8rem;
}

body {
  font-size: 2rem;
}

:root {
  --color-primary: #815b5b;
  --color-secondary: #fff8ea;
  --color-tertiary: #594545;
}

