/* Typography */

/* Aladin fonts */
@font-face {
  font-family: "Aladin";
  src: url("../assets/Aladin-Regular.woff2") format("woff2"),
    url("../assets/Aladin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --color-primary: #815b5b;
  --color-secondary: #fff8ea;
  --color-tertiary: #594545;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

body {
  font-family: "Aladin", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.4rem;
  color: var(--color-primary);
  background: var(--color-secondary);
}

/* Icons */
.icon {
  width: 64px;
  height: 64px;
  margin: 1rem;
}

.icon--small {
  width: 48px;
  height: 48px;
  margin: 0;
}
/* AddOn */

.addOn {
  width: 100%;
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
}
.addOn--label {
  align-items: center;
  justify-content: space-between;
}
.addOn--primary {
  background: var(--color-primary);
}
.addOn--tertiary {
  background: var(--color-tertiary);
}

.addOn__heading {
  margin: 1rem;
  color: var(--color-secondary);
}
.addOn__icon {
  transition: all 3s;
}
.addOn__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}
.addOn__cart-btn {
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  border: 0;
  color: var(--color-secondary);
  justify-items: center;
}

/* Buttons */

.btn {
  border-radius: 50%;
  border: 0;
  font-size: 2rem;
  font-weight: 700;
  height: 30px;
  margin: 5px;
  outline: 0;
  width: 30px;
}
.btn--primary {
  color: var(--color-primary);
  background: var(--color-secondary);
  transition: all 0.2s;
}
.btn--primary:hover,
.btn--primary:focus {
  background: #efe9dc;
}

.btn--secondary {
  color: var(--color-secondary);
  background: var(--color-primary);
}

/* Toggle Switch */
.toggle-switch-of {
  background: url(../assets/toggle-off-solid.svg);
  border: 0;
  transition: all 0.3s ease-in-out;
}
.toggle-switch-on {
  background: url(../assets/toggle-on-solid.svg);
}

/* qty */
.qty {
  color: var(--color-secondary);
  align-self: center;
  font-size: 1.8rem;
}

/* Card */

.card {
  width: 100%;
  max-width: 34rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  margin: 1rem auto;
}
.card--col {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card--outline {
  border: 2px solid var(--color-primary);
}
.card--primary {
  background: var(--color-primary);
}
.card--secondary {
  background: var(--color-secondary);
}

.card__img {
  width: 100%;
  max-width: 20rem;
  height: 20rem;
}

/* Product */

.product {
  display: grid;
  padding: 2rem;
}
@media screen and (min-width: 1024px) {
  .product--1xall {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .product .bill {
    grid-column: 2;
  }
}

/* Bill */
.bill__list {
  width: 100%;
  padding: 1rem;
}

.bill__item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.bill__item--res {
  padding: 0.5rem 0 0;
  margin-left: 10px;
  font-size: 1.2rem;
}

/* Nav */

.nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}
.nav__header {
  display: flex;
  align-items: center;
}
.nav__heading {
  white-space: nowrap;
  color: var(--color-primary);
  display: inline-block;
}

.nav__cart {
  align-self: center;
}

/* Container */

.container {
  max-width: 1140px;
}
