@font-face {
    font-family: 'Aladin';
    src: url('Aladin-Regular.woff2') format('woff2'),
        url('Aladin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

