<section class="card card--col card--primary bill">
  <h2>Order Details</h2>
  <ol class="bill__list result--list">
    <li class="bill__item"><span>Product</span>
      <span>$Price</span>
    </li>
    <li>
      <div class="bill__item">

        <span>
          Cappuccino
          <ul class="bill__list">
            <li class="bill__item--res">Milk</li>
            <li class="bill__item--res">Milk</li>
          </ul>
        </span>

        <span>$150</span>
      </div>
    </li>
    <li>
      <div class="bill__item">

        <span>
          Cappuccino
          <ul class="bill__list">
            <li class="bill__item--res">Milk</li>
            <li class="bill__item--res">Milk</li>
          </ul>
        </span>

        <span>$150</span>
      </div>
    </li>
    <li>
      <div class="bill__item">

        <span>
          Cappuccino
          <ul class="bill__list">
            <li class="bill__item--res">Milk</li>
            <li class="bill__item--res">Milk</li>
          </ul>
        </span>

        <span>$150</span>
      </div>
    </li>
  </ol>
  <h3>Total :<span class="total">$450</span></h3>

</section>