<section class="product product--1xall">
  <section class="card card--col card--secondary card--outline">
    <img class="card__img" src="./assets/cap.png" alt="cappuccino">
    <div class="addOn addOn--primary">
      <header class="addOn__header">
        <h3 class="addOn__heading">Milk<span> + $75</span></h3>
      </header>
      <img class="icon icon--small" src="./assets/toggle-on-solid.svg" alt="">
    </div>
    <div class="addOn addOn--primary">
      <header class="addOn__header">
        <h3 class="addOn__heading">Cream<span> + $75</span></h3>
      </header>
      <img class="icon icon--small" src="./assets/toggle-on-solid.svg" alt="">
    </div>
    <div class="addOn addOn--primary">
      <header class="addOn__header">
        <h3 class="addOn__heading">Latte<span> + $75</span></h3>
      </header>
      <img class="icon icon--small" src="./assets/toggle-on-solid.svg" alt="">
    </div>
    <div class="addOn__grid">
      <div class="addOn addOn--primary">
        <h3 class="addOn__heading">QTY</h3>
      </div>
      <div class="addOn addOn--tertiary">
        <h3>Add To Card</h3>
      </div>
    </div>
  </section>
  <section class="card card--col card--secondary card--outline">
    <img class="card__img" src="./assets/cap.png" alt="cappuccino">
    <div class="addOn addOn--primary">
      <header class="addOn__header">
        <h3 class="addOn__heading">Milk<span> + $75</span></h3>
      </header>
      <img class="icon icon--small" src="./assets/toggle-on-solid.svg" alt="">
    </div>
    <div class="addOn addOn--primary">
      <header class="addOn__header">
        <h3 class="addOn__heading">Cream<span> + $75</span></h3>
      </header>
      <img class="icon icon--small" src="./assets/toggle-on-solid.svg" alt="">
    </div>
    <div class="addOn addOn--primary">
      <header class="addOn__header">
        <h3 class="addOn__heading">Latte<span> + $75</span></h3>
      </header>
      <img class="icon icon--small" src="./assets/toggle-on-solid.svg" alt="">
    </div>
    <div class="addOn__grid">
      <div class="addOn addOn--primary">
        <h3 class="addOn__heading">QTY</h3>
      </div>
      <div class="addOn addOn--tertiary">
        <h3>Add To Card</h3>
      </div>
    </div>
  </section>
  <section class="card card--col card--secondary card--outline">
    <img class="card__img" src="./assets/cap.png" alt="cappuccino">
    <div class="addOn addOn--primary">
      <header class="addOn__header">
        <h3 class="addOn__heading">Milk<span> + $75</span></h3>
      </header>
      <img class="icon icon--small" src="./assets/toggle-on-solid.svg" alt="">
    </div>
    <div class="addOn addOn--primary">
      <header class="addOn__header">
        <h3 class="addOn__heading">Cream<span> + $75</span></h3>
      </header>
      <img class="icon icon--small" src="./assets/toggle-on-solid.svg" alt="">
    </div>
    <div class="addOn addOn--primary">
      <header class="addOn__header">
        <h3 class="addOn__heading">Latte<span> + $75</span></h3>
      </header>
      <img class="icon icon--small" src="./assets/toggle-on-solid.svg" alt="">
    </div>
    <div class="addOn__grid">
      <div class="addOn addOn--primary">
        <h3 class="addOn__heading">QTY</h3>
      </div>
      <div class="addOn addOn--tertiary">
        <h3>Add To Card</h3>
      </div>
    </div>
  </section>

</section>